<section>
  <a href="#/">Home</a>

  <header>
    <h1 class="muted">Campaign: {{campaign.name}}</h1>
  </header>

  <section ng-show="campaign.combatants.length" ng-cloak>
  <ul class="unstyled">
  <li  class="dropdown" ng-repeat="combatant in campaign.combatants">
    <a class="dropdown-toggle" ng-bind="combatant"></a>
    <ul class="dropdown-menu">
      <li>
         <a class='delete' href="" ng-click="deleteCombatant(combatant)">delete</a>
      </li>
    </ul>
  </li> 
  </ul>
  <div>
    <a href="#/battleView/{{campaign.id}}" class="btn btn-primary"
            popover="Start a battle with combatants of this campaign." 
            popover-trigger="mouseenter">Battle</a>
    <a href="#/battleView/{{campaign.id}}?surprise=true" class="btn btn-secondary"
            popover="Start a battle with combatants of this campaign where they are surprised. (ie they have no actions the first round.)" 
            popover-trigger="mouseenter">Surprise Battle</a>
  </div>
  </section>
  <footer>
    <button type="button" class="btn btn-default"
            ng-click="addNewCombatant()"
            popover="Add a new combatant to the campaign." 
            popover-trigger="mouseenter">
      Add New Combatant
    </button>
  </footer>
</section>

