<section>
  <header>
    <h1 class="muted">Battle</h1>
  </header>

  <section ng-show="combatants.length" ng-cloak>
  <ul class="unstyled">
  <li ng-repeat="combatant in combatants | orderByTurn">
  <div class="combatant" ng-class="combatant.turnStatus.label + 'Turn'">
    <span class="label label-warning" ng-show="combatant.turnStatus.label == 'delaying'">Delaying</span>
    <span class="label label-inverse" ng-show="combatant.turnStatus.label == 'waiting'">Waiting</span>
    <span class="name" ng-bind="combatant.name"></span>
    <span class="initiative" ng-bind="combatant.initiative"></span>
    <div class="btn-group" ng-show="combatant.actions">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="action in combatant.actions"><a href="" ng-click="action.apply()" ng-bind="action.label"></a></li>
      </ul>
    </div>
  </div>
  </li>
  </ul>
  </section>

  <footer>
    <form id="new-combatant-form" ng-submit="addCombatant()">
      <label for="new-combatant-name">Name</label>
      <input id="new-combatant-name" ng-model="newCombatant.name" autofocus required>

      <label for="new-combatant-initiative">Initiative</label>
      <input id="new-combatant-initiative" type="number" ng-model="newCombatant.initiative" required>

      <input type="submit" value="Add Combatant">
    </form>
  </footer>



</section>

