<section>
  <header>
    <h1 class="muted">Battle</h1>
  </header>

  <section ng-show="combatants.length" ng-cloak>
  <ul class="unstyled">
  <li ng-repeat="combatant in combatants | orderByTurn">
  <div class="combatant" ng-class="(combatant.turnStatus.label + 'Turn') + ' ' + ({true: 'partyMember', false: 'nonPartyMember'}[combatant.partyMember])">
    <span class="label label-warning" ng-show="combatant.turnStatus.label == 'delaying'">Delaying</span>
    <span class="label label-inverse" ng-show="combatant.turnStatus.label == 'waiting'">Waiting</span>
    <span class="name" ng-bind="combatant.name"></span>
    <span class="initiative" ng-bind="combatant.initiative"></span>
    <div class="btn-group" ng-show="combatant.actions">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="action in combatant.actions"><a href="" ng-click="action.apply()" ng-bind="action.label"></a></li>
      </ul>
    </div>
  </div>
  </li>
  </ul>
  <footer ng-controller="BattleRoundCtrl" >
      <button type="button" class="btn btn-default"
              ng-disabled="!isRoundComplete()"
              ng-click="startNextRound()">
        Next Round
      </button>

      <button type="button" class="btn btn-default"
              ng-disabled="!combatants"
              ng-click="resetBattle()"
            popover="Resets the battle by removing all non-party combatants and resetting initiative for all party combatants." 
            popover-trigger="mouseenter">
        Reset Battle
      </button>

      <button type="button" class="btn btn-default"
              ng-click="endBattle()"
            popover="Ends the battle and returns to the campaign screen." 
            popover-trigger="mouseenter">
        End Battle
      </button>
  </footer>
  </section>

  <footer>
    <tabset>
      <tab heading="Add Combatant">
        <form id="new-combatant-form" ng-controller="AddNewCombatantCtrl" ng-submit="addCombatant()">
          <label for="new-combatant-name">Name</label>
          <input id="new-combatant-name" ng-model="newCombatant.name" autofocus required>

          <label for="new-combatant-initiative">Initiative</label>
          <input id="new-combatant-initiative" type="number" ng-model="newCombatant.initiative" required>

          <div class="btn-group btn-block" data-toggle="buttons-radio">
            <button type="button" class="btn" ng-model="newCombatant.partyMember" btn-radio="true">Party Member</button>
            <button type="button" class="btn" ng-model="newCombatant.partyMember" btn-radio="false">Non Party Member</button>
          </div>

          <input type="submit" class="btn btn-primary btn-block" value="Add Combatant"
            popover="Adds the combatant to the battle (no changes to campaign)" 
            popover-trigger="mouseenter">
        </form>
      </tab>
      <tab heading="Add Multiple Non Party Members">
        <form id="new-multiple-non-party-combatants-form" ng-controller="AddMultipleNonPartyCombatantsCtrl" class="form-inline" ng-submit="addMultipleNonPartyCombatants()">
          <ul>
            <li>Specify the name and the number of non-party combatants to generate.</li>
            <li>Each combatant will have a similar name.</li>
            <li>Enter initiatives for each non-party combatant.</li>
          </ul> 
          <label for="new-combatants-name-pattern">Name</label>
          <input id="new-combatants-name-pattern" ng-model="newMultipleNonPartyCombatants.nameBase" 
                ng-change="refreshNewMultipleNonPartyCombatants()"autofocus required>
          <label for="new-combatants-count">Count</label>
          <input id="new-combatants-count" type="number" ng-model="newMultipleNonPartyCombatants.count" 
                ng-change="refreshNewMultipleNonPartyCombatants()" required>

          <table ng-show="newMultipleNonPartyCombatants.combatants">
            <thead>
              <tr><th>Name</th><th>Initiative</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="newCombatant in newMultipleNonPartyCombatants.combatants">
                <td><label for="new-combatant-initiative-$index" ng-bind="newCombatant.name"></label></td>
                <td><input id="new-combatant-initiative-$index" type="number" ng-model="newCombatant.initiative" required></td>
              </tr>
            </tbody>
          </table>

          <input type="submit" class="btn btn-primary btn-block" value="Add Non-Party Combatants"
            popover="Adds the combatant to the battle as non party members (no changes to campaign)" 
            popover-trigger="mouseenter">
        </form>
      </tab>
    </tabset>
  </footer>



</section>

