<section>
  <h1 class="muted">Home</h1>

  <section>
  <header>
  <h2>Campaigns</h2>
  </header>
  <ul ng-show="campaigns" class="unstyled">
    <li class="dropdown" ng-repeat="campaign in campaigns">
      <a class="dropdown-toggle" href="#/campaignView/{{campaign.id}}" ng-bind="campaign.name" 
          popover-title='Combatants'
          popover="{{campaign.combatants | combatantsSummary}}" popover-trigger="mouseenter" popover-placement="left"></a>
      <ul class="dropdown-menu">
      <li>
         <a class='delete' href="" ng-click="deleteCampaign(campaign)">delete</a>
      </li>
    </ul>
    </li>
  </ul>
  <footer>
    <button type="button" class="btn btn-default"
            ng-click="createNewCampaign()">
      Create New Campaign
    </button>
  </footer>
  </section>

</section>

